/* istok-web-regular - latin */
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: url('fonts3/istok-web-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Istok Web Regular'), local('IstokWeb-Regular'),
       url('fonts3/istok-web-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts3/istok-web-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts3/istok-web-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts3/istok-web-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts3/istok-web-v15-latin-regular.svg#IstokWeb') format('svg'); /* Legacy iOS */
}