

@media (max-width: 600px){
	
    /*.custom-select
    {
        display:inline-block;
        width:100%;
        height:calc(2.25rem + 2px);
        padding:.375rem 1.75rem .375rem .75rem;
        line-height:1.5;
        color:#495057;
        vertical-align:middle;
        font-weight:600;
        background:#fff7d8 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
        /*background-size:8px 10px;*
        background-size: 18px 22px;
        border:1px solid #ced4da;
        border-radius:.25rem;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
    }*/
    
    
    .custom-select {
        display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #000;
    vertical-align: middle;
    font-weight: 600;
    background: #FFF;
    /*background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v�0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;*/
    /* background-size: 8px 10px; */
    background-size: 18px 22px;
    /* border-bottom: 1px solid #23a8e1; */
    /* border-top: 0; */
    /* border-left: 0; */
    /* border-right: 0; */
    border-radius: 0;
    border: 1px solid #b69a4e;
    box-shadow: 0 2px 1px 0px #b69a4e;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0 0 7px 7px;
}


/*.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*
  
  float: left;
  min-width: 200px;
  margin: 50px 33%;
}*/

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #000;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 20px;
  /*Adjust for position however you want*/
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

/*.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling *
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}*/











    
    
    .btn-info:hover {
        color: #000;
        background-color: #fed438;
        border-color: #000000;
    }
    
    
} 


@media (min-width: 601px)
{
    
   
    
    
}























